.navItem {
  margin-right: 20px;
}

.navItem__link {
  padding: 5px 10px;
  color: var(--white-font-color);
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 700;
  transition: color linear 0.1s;
}

.navItem__link:hover,
.navItem__link--active {
  color: var(--nav-font-colo);
  text-decoration: underline;
}
