.product {
  display: flex;
  margin-bottom: 20px;
  width: 100%;
  height: 180px;
  background: var(--bg-color-light-gr);
  border-radius: 10px;
  box-shadow: 5px 5px 15px rgba(250, 250, 250, 0.2);
  transition: box-shadow linear .1s;
}
.product:hover{
  box-shadow: 5px 5px 15px rgba(250, 250, 250, 0.5);
}

.product__link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--main-font-color);
  padding: 20px;
  border-radius: 4px;
}

.product__link:hover {
  text-decoration: none;
}

.product__image {
  width: 100px;
  margin-right: 20px;
}

.product__content {
  text-align: left;
}
