.product {
  display: flex;
  width: 100%;
  height: 180px;
  background: var(--bg-color-light-gr);
  border-radius: 10px;
  box-shadow: 5px 5px 15px rgba(250, 250, 250, 0.2);
  transition: box-shadow linear 0.1s;
  margin-bottom: 20px;
  padding: 20px;
}
.product:hover {
  box-shadow: 5px 5px 15px rgba(250, 250, 250, 0.5);
}

.product__link {
  display: flex;
  text-decoration: none;
  color: var(--main-font-color);
  border-radius: 4px;
}

.product__link:hover {
  text-decoration: none;
}
.product__imageBox {
  display: flex;
}

.product__image {
  width: 100px;
  height: auto;
  object-fit: contain;
  margin-right: 20px;
}

.product__content {
  
  text-align: left;
}

.product__title {
  font-size: 1.2rem;
}

.product__price {
  font-size: 1rem;
}
