.sectionWrapper {
  width: 100%;
  max-width: 600px;
  padding: 20px;
  text-align: center;
}

.sectionWrapper__title {
  font-size: 2rem;
  margin-bottom: 20px;
}

.sectionWrapper__content {
  background-color: #8f8f8f;
  padding: 20px;
  border-radius: 8px;
  box-shadow: var(--box-shadow-white);
}
  