:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --white-font-color: #fff;
  --main-font-color: #333;
  --accennt-font-color: #242424;
  --nav-font-color: #afafaf;

  --bg-color-dark-gr: #333;
  --bg-color-light-gr: #f5f5f5;

  --box-shadow-default: 0 4px 6px rgba(0, 0, 0, 0.1);
  --box-shadow-white: 0 4px 6px rgba(255, 255, 255, 0.1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

a {
  color: #242424;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}
